<div class="clientes max-h-[100vh] overflow-hidden">
  <app-aside/>
  <div class=" p-8 xl:ml-80 text-blanco">
    <!-- VENTA-->
    <div>
      <p>ID: <small>1</small></p>
      <form action="" >
        <label for="" class="mr-6">Fecha</label>
        <input type="datetime-local" class="bg-transparent border-solid border-2 border-secundaryCrimson py-1 rounded-md"><br>
        <label for="" class="mr-6">Cliente</label>
        <input type="text" class="bg-transparent border-solid border-2 border-secundaryCrimson py-1 rounded-md">
      </form>
    </div>
    <!-- tabla-->
     <div>
      <table class="border">
        <thead>
          <tr>
            <th>ID</th>
            <th>ID VENTA</th>
            <th>PRODUCTO</th>
            <th>CANTIDAD</th>
            <th>PRECIO UNITARIO</th>
            <th>IMPORTE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>COLUMNA 1</td>
            <td>COLUMNA 1</td>
            <td>COLUMNA 1</td>
            <td>COLUMNA 1</td>
          </tr>
        </tbody>
      </table>
     </div>
  </div>
</div>
